<template>
  <main class="flex-1 relative overflow-y-auto focus:outline-none">
    <div class="py-8 xl:py-10">
      <div class="max-w-3xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="">
          <div>
            <div>
              <div class="md:flex md:items-center md:justify-between md:space-x-4">
                <div>
                  <h1 class="text-2xl font-bold text-gray-900">Plans</h1>
                  <!-- <p class="mt-2 text-sm text-gray-500">
                      #400 opened by
                      <a href="#" class="font-medium text-gray-900">Hilary Mahy</a>
                      in
                      <a href="#" class="font-medium text-gray-900">Customer Portal</a>
                  </p>-->
                </div>
                <div class="mt-4 flex space-x-3 md:mt-0">
                  <button type="button" class="btn btn-sm">
                    <!-- Heroicon name: solid/pencil -->
                    <svg
                      class="-ml-1 mr-2 h-5 w-5"
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 20 20"
                      fill="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        d="M13.586 3.586a2 2 0 112.828 2.828l-.793.793-2.828-2.828.793-.793zM11.379 5.793L3 14.172V17h2.828l8.38-8.379-2.83-2.828z"
                      />
                    </svg>
                    <span>Create plan</span>
                  </button>
                  <button type="button" class="btn btn-sm btn-secondary">
                    <!-- Heroicon name: solid/bell -->
                    <svg
                      class="-ml-1 mr-2 h-5 w-5"
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 20 20"
                      fill="currentColor"
                      aria-hidden="true"
                    >
                      <path
                        d="M10 2a6 6 0 00-6 6v3.586l-.707.707A1 1 0 004 14h12a1 1 0 00.707-1.707L16 11.586V8a6 6 0 00-6-6zM10 18a3 3 0 01-3-3h6a3 3 0 01-3 3z"
                      />
                    </svg>
                    <span>Subscribe</span>
                  </button>
                </div>
              </div>
              <div v-if="false" class="py-3 xl:pt-6 xl:pb-0">
                <h2 class="sr-only">Description</h2>
                <div class="prose max-w-none">
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita, hic? Commodi cumque similique id tempora molestiae deserunt at suscipit, dolor voluptatem, numquam, harum consequatur laboriosam voluptas tempore aut voluptatum alias?</p>
                  <ul>
                    <li>Tempor ultrices proin nunc fames nunc ut auctor vitae sed. Eget massa parturient vulputate fermentum id facilisis nam pharetra. Aliquet leo tellus.</li>
                    <li>Turpis ac nunc adipiscing adipiscing metus tincidunt senectus tellus.</li>
                    <li>Semper interdum porta sit tincidunt. Dui suspendisse scelerisque amet metus eget sed. Ut tellus in sed dignissim.</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <section aria-labelledby="activity-title" class="mt-8 xl:mt-10">
            <div>
              <div class="divide-y divide-gray-200">
                <div class="pb-4">
                  <h2 id="activity-title" class="text-lg font-medium text-gray-900">Activity</h2>
                </div>
                <div class="pt-6">
                  <!-- Activity feed-->
                  <div class="flow-root">
                    <div class="overflow-x-auto">
                      <table class="table w-full">
                        <thead>
                          <tr>
                            <th>Name</th>
                            <th>Objectives</th>
                            <th>Time line</th>
                            <th></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr  v-for="(p) in plans" :key="p.title">
                            <th>{{p.title}}</th>
                            <td>{{p.objectives.length}}</td>
                            <td>{{p.begin}} to {{p.ends}}</td>
                            <td>Blue</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </main>
</template>
<script>
import { plans } from "./plan.js";
export default {
  setup() {
    return { plans };
  },
};
</script>