<template>
<div class="bg-base-200 drawer drawer-mobile h-full">
  <input id="my-drawer-2" type="checkbox" class="drawer-toggle"> 
  <div class="flex flex-col items-center justify-center drawer-content">
    <label for="my-drawer-2" class="mb-4 btn btn-primary drawer-button lg:hidden">open menu</label> 
    <router-view></router-view>
    
  </div> 
  <div class="drawer-side">
    <label for="my-drawer-2" class="drawer-overlay"></label> 
    <ul class="menu p-4 overflow-y-auto w-80 bg-base-100 text-base-content">
      <li>
        <a class="border-1" href="#/">Home</a>
      </li>
      <li v-for="(p, i) in plans" :key="p.title" class="border-1">
        <a class="border-1" :href="`#/plan/${i}`">{{p.title}}</a>
      </li>
      <li>
        <button type="button" class="btn btn-sm btn-primary">Create new plan</button>
      </li>
    </ul>
  </div>
</div>

</template>
<script>
import { plans } from "./plan.js";
export default {
  setup() {
    return { plans };
  },
};
</script>